/* Placeholders + Mixins */
/* http://www.sitepoint.com/sass-mixin-placeholder/ */

@import "compass/css3";

/* ------------------------------------------- */
/* -- Colours */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* -- Placehodlers */
/* ------------------------------------------- */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


%wrapper {
	max-width: $site-width;
	margin: 0 auto;
	position: relative;
	padding-left: emCalc(20);
	padding-right: emCalc(20);	
	@extend %clearfix;
}


/* ------------------------------------------- */
/* -- Mixins */
/* ------------------------------------------- */

/* https://gist.github.com/taupecat/4090271 */
@mixin modernizr($test) {
    html.#{$test} & {
        @content;
    }
}



/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;padding:20px;background: #FFF;color: #666;}

/* -------------------------------------------------------------------------------*/

::-moz-selection{background: #333; color: #fff; text-shadow: none;}
::selection {background: #333; color: #fff; text-shadow: none;} 

a:link {-webkit-tap-highlight-color: #333;} 

a {
	color: red;
}

a:hover {
	color: green;
}

a {
	@include single-transition(all, .15s, ease, 0);
}

/* Work with bottom borders
================================= */
#{headings()}, p {
	margin-top: 0; 
}



/* Links
================================= */

a {
	text-decoration: none;
}

address {
	font-style: normal;
}

.fixed {
	position: fixed;
}

.hidden {
	display: none !important;
}

/* Base style for lists
================================= */

nav ul {

	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		float:left;
		
	}
	
}


footer[role="contentinfo"]{
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
}


